body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #2b7db1;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 10px 0;
}
nav a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
}
nav a:hover {
    background: #e8491d;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    color: #35424a;
}
footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.imagen-centro{
    text-align: center;
}
